Assets/TextMesh*Pro/Resources/Fonts*Materials/*.asset filter=lfs diff=lfs merge=lfs -text
Assets/TextMesh*Pro/Resources/Fonts*Materials/*.ttf filter=lfs diff=lfs merge=lfs -text
Assets/TextMesh*Pro/Resources/Fonts*Materials/*.otf filter=lfs diff=lfs merge=lfs -text
